<div class="card mb-4">
  <div class="card-header d-flex justify-content-between">
    <div><strong>{{title}}</strong></div>
    <div><small>Posted by {{user.name}} on {{format_date date_created}}</small></div>
  </div>
  <div class="card-body">
    <div class="card-text">{{description}}</div>
  </div>
</div>

{{#each comments as |comment| }}
<div class="card mb-4">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="card-text">
      {{comment.description}}
      <br/>
      <br/>
      --{{comment.user.name}}, {{format_date comment.date_created}}
    </div>
  </div>
</div>
{{/each}}